body{
  background-color: #0b0b0b;
}

@font-face {
    font-family: "TitleFont";
    src: url("/fonts/Lexend_Exa/LexendExa-Regular.ttf");
  }
@font-face {
    font-family: "LocationName";
    src: url("/fonts/Nanum_Gothic/NanumGothic-Bold.ttf");
  }

.projectTitle {
  color: white;
  text-align: center;
  font-family: "TitleFont", sans-serif; font-size: 28px; font-weight: 600;
  padding: 10px;
}

#script {
  display: flex;
  /* This centers the sketch horizontally. */
  justify-content: center;
  /* This centers the sketch vertically. */
  align-items: center;
  padding: 16px; padding-bottom: 32px;
}

.locationName {
  color: white;
  text-align: center;
  font-family: "LocationName", sans-serif; font-size: 14px; font-weight: 200;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
}
